@import "vars";
@import "mixins";
@import "fonts";
@import "vendor/reset";

html {
  box-sizing: border-box;
  font-size: calc(100vw / 1920 * 10);

  @include breakpoint($ssh-bp) {
    font-size: calc(100vw / 1600 * 10);
  }

  @include breakpoint($cos-bp) {
    font-size: calc(100vw / 1330 * 10);
  }

  @include breakpoint($xl-bp) {
    font-size: calc(100vw / 1024 * 10);
  }

  @include breakpoint($jb-bp) {
    font-size: calc(100vw / 850 * 10);
  }

  @include breakpoint($lb-bp) {
    font-size: calc(100vw / 650 * 10);
  }


  @include breakpoint($sm-bp) {
    font-size: calc(100vw / 375 * 10);
  }

}



*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: 'Mulish';
    font-style: normal;
}


img {
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}


svg {
  transition: all 0.1s linear;
}

.paddingContainer {
  padding-left: 10rem;
  padding-right: 10rem
}

.activeLink {
  color: #B2282D !important;
  opacity: 1 !important;
}

.activeMenuBtn {
  background: #B2282D !important;
}

.activeCutCornerFirst {
  border-radius: 2.4rem 2.4rem 0rem 2.4rem !important;
}

.activeCutCornerLast {
  border-radius: 2.4rem 2.4rem 2.4rem 0rem !important;
}



@import './blocks/header.scss';
@import './blocks/swiper.scss';
@import './blocks/footer.scss';
@import './blocks/main.scss';

