.header {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;

    .header-logoList {
        display: flex;
        align-items: center;
        gap: 5rem;

        ul {
            display: flex;
            gap: 5rem;

            @include breakpoint($xl-bp) {
                display: none;
            }

            li {

                a {
                    font-weight: 500;
                    font-size: 2rem;
                    line-height: 2.5rem;
                    color: #090909;
                    text-decoration: none;
                }

                
            }
        }

        svg {
            width: 12.3rem;
            height: 13.4rem;

            @include breakpoint($sm-bp) {
                width: 7rem;
                height: 7.6rem;
            }
        }
    }

    .header-contactsList {
        display: flex;
        align-items: center;
        gap: 2.4rem;

        button {
            font-family: 'Mulish';
            font-style: normal;
            background: #B2282D;
            backdrop-filter: blur(21rem);
            border-radius: 3rem;
            font-weight: 400;
            font-size: 2rem;
            line-height: 130%;
            color: #FFFFFF;
            padding: 1.2rem 3.2rem;
            border: none;
            border: 0.1rem solid #B2282D;
            transition: all linear 0.3s;

            @include breakpoint($cos-bp) {
                display: none;
            }

            &:hover {
                background: transparent;
                color: #B2282D;
                transition: all linear 0.3s;
            }
        }



        .header-phoneLink {
            font-weight: 400;
            font-size: 2rem;
            line-height: 130%;
            color: #090909;
            text-decoration: none;
            
            span {
                @include breakpoint($xl-bp) {
                    display: none;
                }
            }

            svg {
                display: none;

                @include breakpoint($xl-bp) {
                    display: block;
                    fill: #FFFFFF;
                    width: 3.2rem;
                    height: 3.2rem;
                }
            }
        }

        .header-languageContainer {
            display: flex;
            align-items: center;
            gap: 0.9rem;

            @include breakpoint($cos-bp) {
                position: relative;
            }

            svg {
                width: 2.4rem;
                height: 2.4rem;
                fill: #FFFFFF;
                stroke: #090909;
            }

            ul {
                display: flex;
                gap: 0.9rem;
                

                @include breakpoint($cos-bp) {
                    background: #FFFFFF;
                    flex-direction: column;
                    position: absolute;
                    top: 4rem;
                    overflow: hidden;
                    max-height: 0rem;
                    transition: max-height 0.2s ease-out;
                }
            }

            a {
                font-weight: 400;
                font-size: 2rem;
                line-height: 130%;
                color: #090909;
                opacity: 0.5;
                text-decoration: none;
            }
        }

        .header-burgerBtn {
            display: none;
            flex-direction: column;
            gap: 1.1rem;
            width: 3.4rem;
            

            @include breakpoint($xl-bp) {
                display: flex;
            }

            div {
                height: 0.1rem;
                background: #090909;
                width: 100%;
            }

            div:nth-child(2) {
                background: #B2282D;
            }
        }
    }


}

.header-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.3s linear;
    z-index: 9;

    @include breakpoint($sm-bp) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .header-modal__crossBtn {
        padding: 0rem;
        background: none;
        border: none;
        margin-top: 6.6rem;
        margin-left: 93%;

        @include breakpoint($sm-bp) {
            margin-top: 3.6rem;
            margin-left: 88%;
        }

        svg {
            width: 2.4rem;
            height: 2.4rem;
            fill: #090909;
            stroke: #090909;
        }
    }


    .header-modal__phoneContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 15rem;
        gap: 2rem;

        @include breakpoint($sm-bp) {
            margin-top: 0rem;
            margin-bottom: 2rem;
        }

        a {
            font-weight: 400;
            font-size: 2rem;
            line-height: 2.5rem;
            color: #090909;
            text-decoration: none;

            @include breakpoint($sm-bp) {
                font-weight: 400;
                font-size: 2rem;
                line-height: 2.5rem;       
                color: #090909;
            }
        }

        button {
            font-family: 'Mulish';
            font-style: normal;
            background: #B2282D;
            backdrop-filter: blur(21rem);
            border-radius: 3rem;
            font-weight: 400;
            font-size: 2rem;
            line-height: 130%;
            color: #FFFFFF;
            padding: 1.2rem 3.2rem;
            border: none;

            @include breakpoint($sm-bp) {
                font-weight: 400;
                font-size: 2rem;
                line-height: 130%;
                color: #FFFFFF;
            }
        }
    }

    ul {
        display: flex;
        gap: 2.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;

        @include breakpoint($sm-bp) {
            margin-top: 0rem;
        }

        li {

            a {
                font-weight: 500;
                font-size: 2rem;
                line-height: 2.5rem;
                color: #090909;
                text-decoration: none;
            }

            
        }
    }
}

.header-modal__show {
    transform: translateX(0%);
}

