<div class="footer paddingContainer">
    <ul>
        <li><a href="tel:+7(925)6782128">+7 (925) 678-21-28</a></li>
        <li>Москва, Старомонетный переулок, 18</li>
        <li class="footer-socialMediaContainer">
            <a href="#" class="footer-facebook">
                <svg>
                    <use href="#facebook"></use>
                </svg>
            </a>

            <a href="#" class="footer-instagram">
                <svg>
                    <use href="#instagram"></use>
                </svg>
            </a>

            <a href="https://wa.me/+7(925)6782128?text=urlencodedtext" class="footer-whatsApp">
                <svg>
                    <use href="#whatsApp"></use>
                </svg>
            </a>
        </li>
    </ul>
</div>